<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>HealthProject</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansThai-Black.ttf</string>
		<string>NotoSansThai-Bold.ttf</string>
		<string>NotoSansThai-ExtraBold.ttf</string>
		<string>NotoSansThai-ExtraLight.ttf</string>
		<string>NotoSansThai-Light.ttf</string>
		<string>NotoSansThai-Medium.ttf</string>
		<string>NotoSansThai-Regular.ttf</string>
		<string>NotoSansThai-SemiBold.ttf</string>
		<string>NotoSansThai-Thin.ttf</string>
		<string>NotoSansThai_Condensed-Black.ttf</string>
		<string>NotoSansThai_Condensed-Bold.ttf</string>
		<string>NotoSansThai_Condensed-ExtraBold.ttf</string>
		<string>NotoSansThai_Condensed-ExtraLight.ttf</string>
		<string>NotoSansThai_Condensed-Light.ttf</string>
		<string>NotoSansThai_Condensed-Medium.ttf</string>
		<string>NotoSansThai_Condensed-Regular.ttf</string>
		<string>NotoSansThai_Condensed-SemiBold.ttf</string>
		<string>NotoSansThai_Condensed-Thin.ttf</string>
		<string>NotoSansThai_ExtraCondensed-Black.ttf</string>
		<string>NotoSansThai_ExtraCondensed-Bold.ttf</string>
		<string>NotoSansThai_ExtraCondensed-ExtraBold.ttf</string>
		<string>NotoSansThai_ExtraCondensed-ExtraLight.ttf</string>
		<string>NotoSansThai_ExtraCondensed-Light.ttf</string>
		<string>NotoSansThai_ExtraCondensed-Medium.ttf</string>
		<string>NotoSansThai_ExtraCondensed-Regular.ttf</string>
		<string>NotoSansThai_ExtraCondensed-SemiBold.ttf</string>
		<string>NotoSansThai_ExtraCondensed-Thin.ttf</string>
		<string>NotoSansThai_SemiCondensed-Black.ttf</string>
		<string>NotoSansThai_SemiCondensed-Bold.ttf</string>
		<string>NotoSansThai_SemiCondensed-ExtraBold.ttf</string>
		<string>NotoSansThai_SemiCondensed-ExtraLight.ttf</string>
		<string>NotoSansThai_SemiCondensed-Light.ttf</string>
		<string>NotoSansThai_SemiCondensed-Medium.ttf</string>
		<string>NotoSansThai_SemiCondensed-Regular.ttf</string>
		<string>NotoSansThai_SemiCondensed-SemiBold.ttf</string>
		<string>NotoSansThai_SemiCondensed-Thin.ttf</string>
	</array>
</dict>
</plist>
